@charset "UTF-8";
/********** STYLE RESET **********/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

/********** VARIABLES AND MIXINS ***********/
/* MIXINS */
/********* COMMON STYLES *********/
a, p, h1, h2, h3, h4, h5, h6, blockquote {
  font-size: 4mm; }

html {
  font-size: 4mm; }

body {
  background: #fafafa url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=);
  font-family: "Roboto", sans-serif;
  color: #005f4e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media print {
    body {
      background: transparent; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 2em; }

h2, h3 {
  color: #a9a9a9; }

h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #1a1a1a; }

h1 {
  font-size: 8mm;
  color: #f3B900; }

h2 {
  font-size: 7mm; }

h3 {
  font-size: 6mm; }

h4 {
  font-size: 5mm; }

h5 {
  font-size: 4.5mm; }

h6 {
  font-size: 4mm; }

p {
  text-align: left;
  line-height: 1; }

blockquote {
  color: #a9a9a9;
  margin: 4mm 12mm;
  padding: 2mm 2mm 2mm 4mm;
  border-left: 1mm solid #a9a9a9;
  font-style: italic;
  -webkit-border-radius: 0 4mm 4mm 0;
          border-radius: 0 4mm 4mm 0; }

a {
  text-indent: 0;
  color: #a9a9a9;
  text-decoration: none; }
  a:hover {
    color: #f3B900; }

section {
  display: inline-block;
  margin: 0;
  padding: 0; }

select {
  display: block;
  margin: 1mm;
  height: 8mm;
  font-size: 4mm;
  color: #005f4e; }

/************ MAIN STYLES *************/
#wrapper {
  width: 100%;
  height: 100%; }

#output {
  overflow: hidden; }

#plate {
  margin: 15mm auto;
  display: block;
  position: relative;
  outline-width: 1px;
  outline-style: solid;
  -webkit-box-shadow: 0 3mm 10mm rgba(0, 0, 0, 0.3);
          box-shadow: 0 3mm 10mm rgba(0, 0, 0, 0.3); }
  @media print {
    #plate {
      -webkit-box-shadow: none;
              box-shadow: none; } }
  #plate * {
    position: absolute; }
  #plate .rivet {
    width: 2mm;
    height: 2mm;
    background-color: #4b4b4b;
    -webkit-border-radius: 6mm;
            border-radius: 6mm;
    border-color: whitesmoke;
    border-width: 2mm;
    border-style: solid;
    -webkit-box-shadow: 0.2mm 0.3mm 0.5mm rgba(0, 0, 0, 0.5);
            box-shadow: 0.2mm 0.3mm 0.5mm rgba(0, 0, 0, 0.5); }
    @media print {
      #plate .rivet {
        display: none; } }
  #plate .lt {
    top: 1mm;
    left: 1mm; }
  #plate .rt {
    top: 1mm;
    right: 1mm; }
  #plate .rb {
    bottom: 1mm;
    right: 1mm; }
  #plate .lb {
    bottom: 1mm;
    left: 1mm; }
  #plate .underlay {
    bottom: 5mm;
    left: 5mm; }
  #plate .logoAgro svg {
    width: 60mm;
    height: 14mm; }
  #plate .address {
    line-height: 1.2; }
  #plate .divider {
    width: 1mm;
    height: 90mm;
    background-color: #005f4e;
    top: 5mm;
    left: 97mm; }
  #plate .field {
    font-size: 4mm;
    font-family: "Ubuntu Mono", monospace; }
    #plate .field::before, #plate .field ::after {
      font-family: "Roboto", sans-serif; }

.undefined {
  width: 100mm;
  height: 110mm;
  background: #a9a9a9;
  outline-color: #4b4b4b;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s; }
  .undefined .field,
  .undefined .logoUmega,
  .undefined .logoGroup,
  .undefined .address,
  .undefined .techparams,
  .undefined .techloads,
  .undefined .divider,
  .undefined .underlay,
  .undefined .certified,
  .undefined .iso,
  .undefined .eac,
  .undefined .eu,
  .undefined .b1,
  .undefined .b2,
  .undefined .b3,
  .undefined .b4,
  .undefined .t0,
  .undefined .t1,
  .undefined .t2,
  .undefined .t3,
  .undefined .b0,
  .undefined #model,
  .undefined #year,
  .undefined #speed,
  .undefined #weight,
  .undefined #payload,
  .undefined #techFull,
  .undefined #drawbar,
  .undefined #axle1,
  .undefined #axle2,
  .undefined #axle3,
  .undefined #category,
  .undefined #certificate,
  .undefined #pin,
  .undefined #roadFull,
  .undefined #roadDrawbar,
  .undefined #roadAxle1,
  .undefined #roadAxle2,
  .undefined #roadAxle3,
  .undefined #drawbarLoad,
  .undefined #axleLoad {
    display: none; }
  .undefined .logoAgro {
    display: block;
    width: 60mm;
    height: 14mm;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.uniform {
  width: 160mm;
  height: 100mm;
  background: #fafafa;
  outline-color: #a9a9a9; }
  .uniform .eac, .uniform #drawbarLoad, .uniform #axleLoad, .uniform .logoUmega, .uniform #axlesru, .uniform #axlesdk {
    display: none; }
  .uniform .underlay {
    background-color: #005f4e;
    height: 10mm;
    width: 90mm; }
  .uniform .logoAgro {
    top: 7mm;
    left: 5mm; }
  .uniform .logoGroup {
    text-transform: uppercase;
    font-size: 5mm;
    font-weight: 700;
    width: 55mm;
    left: 107mm;
    top: 4mm; }
  .uniform .address {
    top: 10mm;
    left: 67mm;
    font-size: 2.8mm; }
  .uniform .field {
    padding: 0 0 0 1mm;
    background-color: #005f4e;
    color: yellow;
    text-align: center;
    height: 6mm;
    line-height: 6mm; }
  .uniform .techparams, .uniform .techloads {
    position: absolute;
    top: 42mm;
    left: 5mm;
    font-family: "Roboto", sans-serif;
    font-size: 4.8mm;
    font-weight: 700; }
  .uniform .techloads {
    left: 62mm; }
  .uniform .iso {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 6mm;
    line-height: 10mm;
    top: 85mm;
    color: whitesmoke;
    left: 39mm; }
  .uniform .certified {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 6mm;
    line-height: 10mm;
    color: whitesmoke;
    top: 85mm;
    left: 7mm; }
  .uniform .eu {
    top: 86mm;
    color: whitesmoke;
    left: 75mm; }
    .uniform .eu svg {
      height: 8mm; }
  .uniform #model, .uniform #year {
    top: 25mm;
    left: 50mm;
    width: 20mm; }
  .uniform #year {
    top: 32mm; }
  .uniform #speed, .uniform #weight, .uniform #payload {
    top: 54mm;
    width: 9mm;
    left: 35mm; }
  .uniform #weight {
    top: 64mm;
    width: 15mm; }
  .uniform #payload {
    top: 74mm;
    width: 15mm; }
  .uniform #techFull.field {
    top: 49mm;
    left: 62mm;
    width: 25mm; }
    .uniform #techFull.field::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      left: 28mm;
      font-family: "Roboto", sans-serif;
      font-size: 4mm;
      line-height: 6mm;
      color: #005f4e; }
  .uniform #drawbar, .uniform #axle1, .uniform #axle2, .uniform #axle3 {
    top: 56mm;
    left: 71mm;
    width: 16mm; }
    .uniform #drawbar::before, .uniform #axle1::before, .uniform #axle2::before, .uniform #axle3::before {
      content: 'A-0:';
      display: inline-block;
      position: absolute;
      left: -9mm;
      font-weight: 400;
      color: #005f4e; }
    .uniform #drawbar::after, .uniform #axle1::after, .uniform #axle2::after, .uniform #axle3::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      left: 19mm;
      font-family: "Roboto", sans-serif;
      font-size: 4mm;
      line-height: 6mm;
      color: #005f4e; }
  .uniform #axle1 {
    top: 63mm; }
    .uniform #axle1::before {
      content: 'A-1:'; }
  .uniform #axle2 {
    top: 70mm; }
    .uniform #axle2::before {
      content: 'A-2:'; }
  .uniform #axle3 {
    top: 77mm; }
    .uniform #axle3::before {
      content: 'A-3:'; }
  .uniform #category {
    width: 51mm;
    top: 11mm;
    left: 103mm; }
  .uniform #certificate {
    top: 18mm;
    left: 103mm;
    width: 51mm; }
  .uniform #pin {
    top: 25mm;
    left: 103mm;
    width: 51mm; }
  .uniform #placeholder {
    width: 25mm;
    top: 25mm;
    left: 75%;
    padding: 0;
    -webkit-transform: translateX(1mm);
        -ms-transform: translateX(1mm);
            transform: translateX(1mm); }
  .uniform #roadFull {
    top: 32mm;
    left: 103mm;
    width: 44mm; }
    .uniform #roadFull::before {
      display: none; }
    .uniform #roadFull::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      left: 47mm;
      font-family: "Roboto", sans-serif;
      font-size: 4mm;
      line-height: 6mm;
      color: #005f4e; }
  .uniform #roadDrawbar, .uniform #roadAxle1, .uniform #roadAxle2, .uniform #roadAxle3 {
    top: 39mm;
    left: 112mm;
    width: 35mm; }
    .uniform #roadDrawbar::before, .uniform #roadAxle1::before, .uniform #roadAxle2::before, .uniform #roadAxle3::before {
      content: 'A-0:';
      display: inline-block;
      position: absolute;
      left: -9mm;
      font-weight: 400;
      color: #005f4e; }
    .uniform #roadDrawbar::after, .uniform #roadAxle1::after, .uniform #roadAxle2::after, .uniform #roadAxle3::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      left: 38mm;
      font-family: "Roboto", sans-serif;
      font-size: 4mm;
      line-height: 6mm;
      color: #005f4e; }
  .uniform #roadAxle1 {
    top: 46mm; }
    .uniform #roadAxle1::before {
      content: 'A-1:'; }
  .uniform #roadAxle2 {
    top: 53mm; }
    .uniform #roadAxle2::before {
      content: 'A-2:'; }
  .uniform #roadAxle3 {
    top: 60mm; }
    .uniform #roadAxle3::before {
      content: 'A-3:'; }
  .uniform .b1 {
    top: 73.5mm;
    height: 5mm;
    background: #005f4e; }
  .uniform .b2 {
    top: 79mm;
    height: 5mm;
    background: #005f4e; }
  .uniform .b3 {
    top: 84.5mm;
    height: 5mm;
    background: #005f4e; }
  .uniform .b4 {
    top: 90mm;
    height: 5mm;
    background: #005f4e; }
  .uniform .t0 {
    text-align: center;
    width: 10mm;
    right: 53mm;
    background: none; }
  .uniform .t1 {
    text-align: center;
    color: yellow;
    font-family: "Ubuntu Mono", monospace;
    right: 37mm;
    width: 15mm;
    background: #005f4e; }
  .uniform .t2 {
    text-align: center;
    color: yellow;
    font-family: "Ubuntu Mono", monospace;
    right: 21mm;
    width: 15mm;
    background: #005f4e; }
  .uniform .t3 {
    text-align: center;
    color: yellow;
    font-family: "Ubuntu Mono", monospace;
    right: 5mm;
    width: 15mm;
    background: #005f4e; }
  .uniform .b0 {
    color: #005f4e;
    font-family: "Roboto", sans-serif;
    top: 68mm;
    background: none;
    height: 5mm; }
  .uniform #model::before {
    content: 'Model:';
    display: inline-block;
    position: absolute;
    right: 22mm;
    font-weight: 400;
    color: #005f4e; }
  .uniform #year::before {
    content: 'Manufactured:';
    display: inline-block;
    position: absolute;
    right: 22mm;
    font-weight: 400;
    color: #005f4e; }
  .uniform #speed::before {
    content: 'Max. speed:';
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    right: 11mm;
    font-weight: 400;
    color: #005f4e; }
  .uniform #speed::after {
    content: 'km/h';
    display: inline-block;
    position: absolute;
    right: -11mm;
    font-family: "Roboto", sans-serif;
    font-size: 4mm;
    line-height: 6mm;
    color: #005f4e; }
  .uniform #weight::before {
    content: 'Weight:';
    display: inline-block;
    position: absolute;
    right: 17mm;
    font-weight: 400;
    color: #005f4e; }
  .uniform #weight::after {
    content: 'kg';
    display: inline-block;
    position: absolute;
    right: -6mm;
    font-family: "Roboto", sans-serif;
    font-size: 4mm;
    line-height: 6mm;
    color: #005f4e; }
  .uniform #payload::before {
    content: 'Tech. payload:';
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    right: 17mm;
    font-weight: 400;
    color: #005f4e; }
  .uniform #payload::after {
    content: 'kg';
    display: inline-block;
    position: absolute;
    right: -6mm;
    font-family: "Roboto", sans-serif;
    font-size: 4mm;
    line-height: 6mm;
    color: #005f4e; }

.nocertOld {
  width: 103mm;
  height: 110mm;
  background: #005f4e;
  outline-color: #a9a9a9;
  color: #fafafa; }
  .nocertOld .logoUmega,
  .nocertOld .logoGroup,
  .nocertOld .techparams,
  .nocertOld .techloads,
  .nocertOld .divider,
  .nocertOld .underlay,
  .nocertOld .certified,
  .nocertOld .eac,
  .nocertOld .b1,
  .nocertOld .b2,
  .nocertOld .b3,
  .nocertOld .b4,
  .nocertOld .t0,
  .nocertOld .t1,
  .nocertOld .t2,
  .nocertOld .t3,
  .nocertOld .b0,
  .nocertOld #speed,
  .nocertOld #drawbar,
  .nocertOld #axle1,
  .nocertOld #axle2,
  .nocertOld #axle3,
  .nocertOld #category,
  .nocertOld #roadAxle1,
  .nocertOld #roadAxle2,
  .nocertOld #roadAxle3,
  .nocertOld #axlesru,
  .nocertOld #drawbarLoad,
  .nocertOld #axleLoad {
    display: none; }
  .nocertOld .logoAgro {
    top: 5mm;
    left: 7mm; }
  .nocertOld .address {
    top: 8mm;
    left: 69mm;
    font-size: 2.8mm; }
  .nocertOld .field {
    display: inline-block;
    height: 6mm;
    width: 37mm;
    left: 59mm;
    background: whitesmoke;
    color: blue;
    text-align: center;
    line-height: 5mm;
    font-size: 4mm; }
    .nocertOld .field::before {
      display: inline-block;
      position: absolute;
      height: 6mm;
      width: 49mm;
      padding-right: 1mm;
      left: -52mm;
      background: whitesmoke;
      text-align: right;
      color: #005f4e;
      font-weight: 700;
      line-height: 6mm;
      white-space: nowrap; }
  .nocertOld .iso {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 9mm;
    line-height: 15mm;
    top: 93mm;
    color: whitesmoke;
    left: 35%;
    -webkit-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
            transform: translatex(-50%); }
  .nocertOld .eu {
    top: 94mm;
    color: whitesmoke;
    left: 65%;
    -webkit-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
            transform: translatex(-50%); }
    .nocertOld .eu svg {
      height: 12mm; }
  .nocertOld #certificate {
    top: 22mm;
    left: 7mm;
    width: 89mm; }
    .nocertOld #certificate::before {
      display: none; }
  .nocertOld #model {
    top: 29mm; }
    .nocertOld #model::before {
      content: 'Model:'; }
  .nocertOld #pin {
    top: 36mm; }
    .nocertOld #pin::before {
      content: 'Serial Nr:'; }
  .nocertOld #year {
    top: 43mm; }
    .nocertOld #year::before {
      content: 'Year of manufacture:'; }
  .nocertOld #roadFull {
    top: 50mm; }
    .nocertOld #roadFull::before {
      content: 'Gross weight (kg):'; }
  .nocertOld #weight {
    top: 57mm; }
    .nocertOld #weight::before {
      content: 'Weight (kg):'; }
  .nocertOld #roadDrawbar {
    top: 64mm; }
    .nocertOld #roadDrawbar::before {
      content: 'Max. load on drawbar (kg):'; }
  .nocertOld #payload {
    top: 78mm; }
    .nocertOld #payload::before {
      content: 'Netto weight (kg):'; }
  .nocertOld #techFull {
    top: 85mm; }
    .nocertOld #techFull::before {
      content: 'Gross constr. weight (kg):'; }
  .nocertOld #axlesdk {
    top: 71mm; }
    .nocertOld #axlesdk::before {
      content: 'Total axles load (kg):'; }

.witam {
  width: 100mm;
  height: 80mm;
  background: #005f4e;
  outline-color: #a9a9a9;
  color: whitesmoke; }
  .witam .logoAgro,
  .witam .logoGroup,
  .witam .techparams,
  .witam .techloads,
  .witam .divider,
  .witam .underlay,
  .witam .certified,
  .witam .iso,
  .witam .eac,
  .witam .eu,
  .witam .b1,
  .witam .b2,
  .witam .b3,
  .witam .b4,
  .witam .t0,
  .witam .t1,
  .witam .t2,
  .witam .t3,
  .witam .b0,
  .witam #speed,
  .witam #payload,
  .witam #drawbar,
  .witam #axle1,
  .witam #axle2,
  .witam #axle3,
  .witam #category,
  .witam #roadFull,
  .witam #roadDrawbar,
  .witam #roadAxle1,
  .witam #roadAxle2,
  .witam #roadAxle3,
  .witam #axlesru,
  .witam #axlesdk {
    display: none; }
  .witam .field {
    display: inline-block;
    width: 37mm;
    height: 5mm;
    left: 55mm;
    background: whitesmoke;
    color: blue;
    text-align: center;
    line-height: 5mm;
    font-size: 4mm;
    padding-left: 1mm; }
    .witam .field::before {
      position: absolute;
      width: 51mm;
      height: 5mm;
      padding-left: 1mm;
      left: -55mm;
      text-align: left;
      color: whitesmoke;
      font-weight: 400;
      line-height: 5mm;
      text-align: right;
      font-size: 3.5mm !important; }
  .witam .logoUmega {
    top: 7mm;
    left: 9mm; }
  .witam .address {
    top: 5mm;
    left: 55mm; }
  .witam #model {
    top: 22mm; }
    .witam #model::before {
      content: 'Typ'; }
  .witam #year {
    top: 40mm; }
    .witam #year::before {
      content: 'Rok produkcji'; }
  .witam #weight {
    top: 46mm; }
    .witam #weight::before {
      content: 'Masa własna'; }
  .witam #techFull {
    top: 52mm; }
    .witam #techFull::before {
      content: 'Dopuszczalna masa całkowita'; }
  .witam #certificate {
    top: 28mm; }
    .witam #certificate::before {
      content: 'Nr świadectwa homologacji'; }
  .witam #pin {
    top: 34mm; }
    .witam #pin::before {
      content: 'Nr identyfikacyjny'; }
  .witam #drawbarLoad {
    top: 64mm; }
    .witam #drawbarLoad::before {
      content: 'Maksymalny nacisk na sprzęg'; }
  .witam #axleLoad {
    top: 58mm; }
    .witam #axleLoad::before {
      content: 'Maksymalny nacisk na oś'; }

.rus {
  width: 103mm;
  height: 110mm;
  background: #005f4e;
  outline-color: #a9a9a9;
  color: #fafafa; }
  .rus .logoAgro,
  .rus .logoUmega,
  .rus .techparams,
  .rus .techloads,
  .rus .divider,
  .rus .underlay,
  .rus .certified,
  .rus .b1,
  .rus .b2,
  .rus .b3,
  .rus .b4,
  .rus .t0,
  .rus .t1,
  .rus .t2,
  .rus .t3,
  .rus .b0,
  .rus #speed,
  .rus #axle1,
  .rus #axle2,
  .rus #axle3,
  .rus #category,
  .rus #roadFull,
  .rus #roadDrawbar,
  .rus #roadAxle1,
  .rus #roadAxle2,
  .rus #roadAxle3,
  .rus #axlesdk,
  .rus #drawbarLoad,
  .rus #axleLoad {
    display: none; }
  .rus .logoGroup {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 6mm;
    font-weight: 700;
    width: 55mm;
    left: 6mm;
    top: 10mm; }
  .rus .address {
    top: 8mm;
    left: 67mm;
    font-size: 3mm; }
  .rus .field {
    display: inline-block;
    height: 6mm;
    width: 37mm;
    left: 59mm;
    background: whitesmoke;
    color: blue;
    text-align: center;
    line-height: 5mm;
    font-size: 4mm; }
    .rus .field::before {
      display: inline-block;
      position: absolute;
      height: 6mm;
      width: 49mm;
      padding-right: 1mm;
      left: -52mm;
      background: whitesmoke;
      text-align: right;
      color: #005f4e;
      font-weight: 700;
      line-height: 6mm;
      white-space: nowrap; }
  .rus .iso {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 10mm;
    line-height: 15mm;
    top: 90mm;
    color: whitesmoke;
    left: 7mm; }
  .rus .eu {
    top: 90mm;
    color: whitesmoke;
    left: 75%;
    -webkit-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
            transform: translatex(-50%); }
    .rus .eu svg {
      height: 14mm;
      width: 20mm; }
  .rus .eac {
    top: 90mm;
    color: whitesmoke;
    left: 53mm; }
    .rus .eac svg {
      height: 14mm;
      width: 20mm; }
  .rus #certificate {
    top: 22mm;
    left: 7mm;
    width: 89mm; }
    .rus #certificate::before {
      display: none; }
  .rus #model {
    top: 29mm; }
    .rus #model::before {
      content: 'Тип:'; }
  .rus #pin {
    top: 36mm; }
    .rus #pin::before {
      content: 'Серийный номер:'; }
  .rus #year {
    top: 43mm; }
    .rus #year::before {
      content: 'Год производства:'; }
  .rus #techFull {
    top: 50mm; }
    .rus #techFull::before {
      content: 'Полная масса (кг):'; }
  .rus #weight {
    top: 57mm; }
    .rus #weight::before {
      content: 'Масса (кг):'; }
  .rus #drawbar {
    top: 64mm; }
    .rus #drawbar::before {
      content: 'Макс. нагр. на дышло (кг):';
      font-size: 3.8mm; }
  .rus #payload {
    top: 78mm; }
    .rus #payload::before {
      content: 'Масса нетто (кг):'; }
  .rus #axlesru {
    top: 71mm; }
    .rus #axlesru::before {
      content: 'Общая нагрузка на оси (кг):';
      font-size: 3.6mm; }

#input {
  width: 120mm;
  margin: 0 auto; }
  @media print {
    #input {
      display: none; } }
  #input input[type="text"] {
    color: #005f4e;
    height: 6mm;
    font-size: 4mm;
    text-transform: uppercase;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
    margin: 1mm;
    padding: .5mm; }
  #input #pdfBuild {
    display: block;
    margin: 2mm auto;
    font-size: 6mm;
    padding: 2mm 10mm;
    -webkit-border-radius: 2mm;
            border-radius: 2mm;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    border-width: 1px;
    border-style: solid; }
    #input #pdfBuild::after {
      content: '\f1c1';
      font-family: 'FontAwesome';
      font-size: 8mm;
      padding: 0 2mm; }
  #input .activated {
    background-color: #1f3948;
    color: #fafafa;
    -webkit-box-shadow: 0 4px 4px rgba(31, 57, 72, 0.2);
            box-shadow: 0 4px 4px rgba(31, 57, 72, 0.2);
    border-color: #1a1a1a;
    cursor: pointer; }
    #input .activated:hover {
      background-color: #3e718f;
      color: #fafafa;
      -webkit-box-shadow: 0 4px 6px rgba(18, 126, 155, 0.4);
              box-shadow: 0 4px 6px rgba(18, 126, 155, 0.4);
      border-color: #1a1a1a; }
    #input .activated:active {
      background-color: #101d24;
      color: #fafafa;
      -webkit-box-shadow: 0 2px 6px rgba(18, 126, 155, 0.4);
              box-shadow: 0 2px 6px rgba(18, 126, 155, 0.4);
      border-color: #1a1a1a; }
  #input .deactivated {
    background-color: rgba(233, 234, 236, 0.5);
    color: #a9a9a9;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-color: #a9a9a9;
    cursor: not-allowed; }

.noPin {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #a9a9a9; }

.pendingPin {
  -webkit-box-shadow: 0 1px 4px rgba(255, 200, 0, 0.6);
          box-shadow: 0 1px 4px rgba(255, 200, 0, 0.6);
  border: 1px solid #96b400; }

.validPin {
  -webkit-box-shadow: 0 1px 4px rgba(0, 200, 0, 0.6);
          box-shadow: 0 1px 4px rgba(0, 200, 0, 0.6);
  border: 1px solid #009600; }

.invalidPin {
  -webkit-box-shadow: 0 1px 4px rgba(255, 0, 0, 0.6);
          box-shadow: 0 1px 4px rgba(255, 0, 0, 0.6);
  border: 1px solid #960000; }
