svg(xmlns="http://www.w3.org/2000/svg" width="11mm" height="10mm" viewBox="0 0 11 10")
	g(transform="translate(0,-287)")
		path(d="m 0.273774,287.49996 v 9.00008 h 2.323394 v -1.1617 H 1.435471 v -2.90373 h 1.161697 v -0.87099 H 1.435471 v -2.90196 h 1.161697 v -1.1617 z m 3.485091,0 v 9.00008 h 1.160286 v -4.06543 h 1.161697 v 4.06543 h 1.161698 v -9.00008 z m 4.643967,0 v 9.00008 h 2.323394 v -1.1617 H 9.564529 v -6.67668 h 1.161697 v -1.1617 z m -3.483681,0.87102 h 1.161697 v 3.19264 H 4.919151 Z").eacpath