head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	title Umegaagro lenteles generatorius
	link(rel="stylesheet" href="css/styles.css")
	link(rel="stylesheet" href="css/svg.css")
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Infant:400,700|Roboto:400,400i,700,700i|Ubuntu+Mono&amp;subset=cyrillic-ext,latin-ext")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")