/*********** SVG STYLES ************/
#mainlogo {
  fill: #005f4e; }

.undefined #mainlogo {
  fill: #4b4b4b; }

.nocertOld #mainlogo {
  fill: whitesmoke; }

.umegalogo, .cepath, .eacpath {
  fill: whitesmoke; }
