/************ MAIN STYLES *************/
#wrapper {
  width: 100%;
  height: 100%;
}
// #input {
	
// }
#output {
	overflow: hidden;
}
#plate {
  margin: 15mm auto;
  display: block;
  position: relative;
  outline-width: 1px;
  outline-style: solid;
  box-shadow: 0 3mm 10mm rgba(0,0,0,.3);
  @media print {
    box-shadow: none;
  }
  & * {
    position: absolute;
  }
  & .rivet {
    width: 2mm;
    height: 2mm;
    background-color: $color-bgdark;
    border-radius: 6mm;
    border-color: whitesmoke;
    border-width: 2mm;
    border-style: solid;
    box-shadow: .2mm .3mm .5mm rgba(0,0,0,.5);
    @media print {
      display: none;
    }
  }
  & .lt {
    top:  1mm;
    left: 1mm;
  }
  & .rt {
    top:   1mm;
    right: 1mm;
  }
  & .rb {
    bottom: 1mm;
    right:  1mm;
  }
  & .lb {
    bottom: 1mm;
    left:   1mm;
  }
  & .underlay {
    // width: calc(100% - 4mm);
    bottom: 5mm;
    left: 5mm;
  }
  & .logoAgro {
    & svg {
			width: 60mm;
			height: 14mm;
		}
  }
  & .address {
    line-height: 1.2;
  }
  & .divider {
    width: 1mm;
    height: 90mm;
    background-color: $color-main;
    top: 5mm;
    left: 97mm;
    // transform: translateX(-50%);
  }
  
  & .field {
    font-size: 4mm;
    //line-height: 6mm;
    // height: 6mm;
    font-family: $font-monospace;
    &::before, ::after {
      font-family: $font-regular;
    }
  }
}

// Different types of plates
// according to country/certification

// UNDEFINED
.undefined {
  width: 100mm;
  height: 110mm;
  background: $color-light;
  outline-color: $color-bgdark;
  transition: width .3s;

  // excluding elements:
  &
  .field,
  // .logoAgro,
  .logoUmega,
  .logoGroup,
  .address,
  .techparams,
  .techloads,
  .divider,
  .underlay,
  .certified,
  .iso,
  .eac,
  .eu,
  .b1,
  .b2,
  .b3,
  .b4,
  .t0,
  .t1,
  .t2,
  .t3,
  .b0,
  #model,
  #year,
  #speed,
  #weight,
  #payload,
  #techFull,
  #drawbar,
  #axle1,
  #axle2,
  #axle3,
  #category,
  #certificate,
  #pin,
  #roadFull,
  #roadDrawbar,
  #roadAxle1,
  #roadAxle2,
  #roadAxle3,
  #drawbarLoad,
  #axleLoad {
    display: none;
  }

  // service & design elements, labels:  
  // & .field {}
  & .logoAgro {
    display: block;
    width: 60mm;
    height: 14mm;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // & .logoUmega {}
  // & .logoGroup {}
  // & .address {}
  // & .techparams {}
  // & .techloads {}
  // & .divider {}
  // & .underlay {}
  // & .certified  {}
  // & .iso {}
  // & .eac {}
  // & .eu {}

  // MAIN elements:
  // & .b1 {}
  // & .b2 {}
  // & .b3 {}
  // & .b4 {}

  // & .t0 {}
  // & .t1 {}
  // & .t2 {}
  // & .t3 {}

  // & .b0 {}

  // & #model {}
  // & #year {}
  // & #speed {}
  // & #weight {}
  // & #payload {}

  // & #techFull {}
  // & #drawbar {}
  // & #axle1 {}
  // & #axle2 {}
  // & #axle3 {}

  // & #category {}
  // & #certificate {}
  // & #pin {}

  // & #roadFull {}
  // & #roadDrawbar {}
  // & #roadAxle1 {}
  // & #roadAxle2 {}
  // & #roadAxle3 {}

  // & #drawbarLoad {}
  // & #axleLoad {}
}

// .tryandbuy {
//   // excluding elements:
//   & 
//   .field,
//   .logoAgro,
//   .logoUmega,
//   .logoGroup,
//   .address,
//   .techparams,
//   .techloads,
//   .divider,
//   .underlay,
//   .certified ,
//   .iso,
//   .eac,
//   .eu,
//   .b1,
//   .b2,
//   .b3,
//   .b4,
//   .t0,
//   .t1,
//   .t2,
//   .t3,
//   .b0,
//   #model,
//   #year,
//   #speed,
//   #weight,
//   #payload,
//   #techFull,
//   #drawbar,
//   #axle1,
//   #axle2,
//   #axle3,
//   #category,
//   #certificate,
//   #pin,
//   #roadFull,
//   #roadDrawbar,
//   #roadAxle1,
//   #roadAxle2,
//   #roadAxle3,
//   #drawbarLoad,
//   #axleLoad {
//     display: none;
//   }

//   // service & design elements, labels:  
//   & .field {}
//   & .logoAgro {}
//   & .logoUmega {}
//   & .logoGroup {}
//   & .address {}
//   & .techparams {}
//   & .techloads {}
//   & .divider {}
//   & .underlay {}
//   & .certified  {}
//   & .iso {}
//   & .eac {}
//   & .eu {}

//   // MAIN elements:
//   & .b1 {}
//   & .b2 {}
//   & .b3 {}
//   & .b4 {}

//   & .t0 {}
//   & .t1 {}
//   & .t2 {}
//   & .t3 {}

//   & .b0 {}

//   & #model {}
//   & #year {}
//   & #speed {}
//   & #weight {}
//   & #payload {}

//   & #techFull {}
//   & #drawbar {}
//   & #axle1 {}
//   & #axle2 {}
//   & #axle3 {}

//   & #category {}
//   & #certificate {}
//   & #pin {}

//   & #roadFull {}
//   & #roadDrawbar {}
//   & #roadAxle1 {}
//   & #roadAxle2 {}
//   & #roadAxle3 {}

//   & #drawbarLoad {}
//   & #axleLoad {}
// }

// UNIFORM
.uniform {
  // common parameters:
  width: 160mm;
  height: 100mm;
  background: $color-bg;
  outline-color: $color-light;

  // excluding elements:
  & .eac, #drawbarLoad, #axleLoad, .logoUmega {
    display: none;
  }

  // service & design elements, labels:
  & .underlay {
    background-color: $color-main;
		height: 10mm;
		width: 90mm;
  }
  & .logoAgro {
    top: 7mm;
		left: 5mm;
  }
  & .logoGroup {
    // temp instead svg
    text-transform: uppercase;
    font-size: 5mm;
    font-weight: 700;
    width: 55mm;
    left: 107mm;
    top: 4mm;
  }
  & .address {
    top: 10mm;
		left: 67mm;
		font-size: 2.8mm;
  }
  & .field {
    padding: 0 0 0 1mm;
    background-color: $color-main;
    color: yellow;
    text-align: center;
    height: 6mm;
    line-height: 6mm;
  }
  & .techparams, .techloads {
    position: absolute;
    top: 42mm;
    left: 5mm;
    font-family: $font-regular;
    font-size: $basic * 1.2;
    font-weight: 700;
  }
  & .techloads {
    left: 62mm;
  }
  & .iso {
    font-family: $font-regular;
    font-weight: 700;
    font-size: 6mm;
    line-height: 10mm;
    top: 85mm;
    color: whitesmoke;
    left: 39mm;
	}
	& .certified {
		font-family: $font-regular;
		font-weight: 400;
		font-size: 6mm;
		line-height: 10mm;
		color: whitesmoke;
		top: 85mm;
		left: 7mm;
	}
  & .eu {
    top: 86mm;
    color: whitesmoke;
    left: 75mm;
		& svg {
			height: 8mm;
		}
  }
  
  // MAIN elements:
  & #model, #year {
    top: 25mm;
    left: 50mm;
    width: 20mm;
  }
  & #year {
    top: 32mm;
  }

  & #speed, #weight, #payload {
    top: 54mm;
    width: 9mm;
    left: 35mm;
  }
  & #weight {
    top: 64mm;
    width: 15mm;
  }
  & #payload {
    top: 74mm;
    width: 15mm;
  }

  & #techFull.field {
    top: 49mm;
    left: 62mm;
    width: 25mm;
    &::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      left: 28mm;
      font-family: $font-regular;
      font-size: 4mm;
      line-height: 6mm;
      color: $color-main;
    }
  }
  & #drawbar, #axle1, #axle2, #axle3 {
    top: 56mm;
    left: 71mm;
    width: 16mm;
    &::before {
      content: 'A-0:';
      display: inline-block;
      position: absolute;
      left: -9mm;
      font-weight: 400;
      color: $color-main;
    }
    &::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      left: 19mm;
      font-family: $font-regular;
      font-size: 4mm;
      line-height: 6mm;
      color: $color-main;
    }
  }
  & #axle1 {
		top: 63mm;
    &::before {
      content: 'A-1:';
    }
  }
  & #axle2 {
    top: 70mm;
    &::before {
      content: 'A-2:';
    }
  }
  & #axle3 {
    top: 77mm;
    &::before {
      content: 'A-3:';
    }
  }
  
	& #category {
    width: 51mm;
		top: 11mm;
		left: 103mm;
  }
  & #certificate {
    top: 18mm;
    left: 103mm;
    width: 51mm;
  }
  & #pin {
    top: 25mm;
    left: 103mm;
    width: 51mm;
  }
  & #placeholder {
    width: 25mm;
    top: 25mm;
    left: 75%;
    padding: 0;
    transform: translateX(1mm);
  }
  & #roadFull {
    top: 32mm;
    left: 103mm;
    width: 44mm;
    &::before {
      display: none;
    }
    &::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
			left: 47mm;
			font-family: $font-regular;
      font-size: 4mm;
      line-height: 6mm;
      color: $color-main;
    }
  }
  & #roadDrawbar, #roadAxle1, #roadAxle2, #roadAxle3 {
    top: 39mm;
    left: 112mm;
    width: 35mm;
    &::before {
      content: 'A-0:';
      display: inline-block;
      position: absolute;
      left: -9mm;
      font-weight: 400;
      color: $color-main;
    }
    &::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      left: 38mm;
      font-family: $font-regular;
      font-size: 4mm;
      line-height: 6mm;
      color: $color-main;
    }
  }
  & #roadAxle1 {
		top: 46mm;
    &::before {
      content: 'A-1:';
    }
  }
  & #roadAxle2 {
    top: 53mm;
    &::before {
      content: 'A-2:';
    }
  }
  & #roadAxle3 {
    top: 60mm;
    &::before {
      content: 'A-3:';
    }
  }
  
  
  & .b1 {
    top: 73.5mm;
    height: 5mm;
    background: $color-main;
  }
  & .b2 {
    top: 79mm;
    height: 5mm;
    background: $color-main;
  }
  & .b3 {
    top: 84.5mm;
    height: 5mm;
    background: $color-main;
  }
  & .b4 {
    top: 90mm;
    height: 5mm;
    background: $color-main;
  }

  & .t0 {
    text-align: center;
    width: 10mm;
    right: 53mm;
    background: none;
  }
  & .t1 {
    text-align: center;
    color: yellow;
    font-family: $font-monospace;
    right: 37mm;
    width: 15mm;
    background: $color-main;
  }
  & .t2 {
    text-align: center;
    color: yellow;
    font-family: $font-monospace;
    right: 21mm;
    width: 15mm;
    background: $color-main;
  }
  & .t3 {
    text-align: center;
    color: yellow;
    font-family: $font-monospace;
    right: 5mm;
    width: 15mm;
    background: $color-main;
  }
  & .b0 {
    color: $color-main;
    font-family: $font-regular;
    top: 68mm;
    background: none;
    height: 5mm;
  }


  & #model {
    &::before {
      content: 'Model:';
      display: inline-block;
      position: absolute;
      right: 22mm;
      font-weight: 400;
      color: $color-main;
    }
  }
  & #year {
    &::before {
      content: 'Manufactured:';
      display: inline-block;
      position: absolute;
      right: 22mm;
      font-weight: 400;
      color: $color-main;
    }
  }
  & #speed {
    &::before {
      content: 'Max. speed:';
      display: inline-block;
      position: absolute;
      white-space: nowrap;
      right: 11mm;
      font-weight: 400;
      color: $color-main;
    }
    &::after {
      content: 'km/h';
      display: inline-block;
      position: absolute;
      right: -11mm;
      font-family: $font-regular;
      font-size: 4mm;
      line-height: 6mm;
      color: $color-main;
    }
  }
  & #weight {
    &::before {
      content: 'Weight:';
      display: inline-block;
      position: absolute;
      right: 17mm;
      font-weight: 400;
      color: $color-main;
    }
    &::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      right: -6mm;
      font-family: $font-regular;
      font-size: 4mm;
      line-height: 6mm;
      color: $color-main;
    }
  }
  & #payload {
    &::before {
      content: 'Tech. payload:';
      display: inline-block;
      position: absolute;
      white-space: nowrap;
      right: 17mm;
      font-weight: 400;
      color: $color-main;
    }
    &::after {
      content: 'kg';
      display: inline-block;
      position: absolute;
      right: -6mm;
      font-family: $font-regular;
      font-size: 4mm;
      line-height: 6mm;
      color: $color-main;
    }
  }
}

// Dutch (Old UmegaAgro)
.nocertOld {
  // common parameters:
  width: 103mm;
  height: 110mm;
  background: $color-main;
  outline-color: $color-light;
  color: $color-bg;

  // excluding elements:
  & 
  // .field,
  // .logoAgro,
  .logoUmega,
  .logoGroup,
  // .address,
  .techparams,
  .techloads,
  .divider,
  .underlay,
  .certified ,
  // .iso,
  .eac,
  // .eu,
  .b1,
  .b2,
  .b3,
  .b4,
  .t0,
  .t1,
  .t2,
  .t3,
  .b0,
  // #model,
  // #year,
  #speed,
  // #weight,
  // #payload,
  // #techFull,
  #drawbar,
  #axle1,
  #axle2,
  #axle3,
  #category,
  // #certificate,
  // #pin,
  // #roadFull,
  // #roadDrawbar,
  // #roadAxle1,
  #roadAxle2,
  #roadAxle3,
  #drawbarLoad,
  #axleLoad {
    display: none;
  }

  // service & design elements, labels:  
  & .logoAgro {
    top: 5mm;
		left: 7mm;
  }
  & .address {
    top: 8mm;
		left: 69mm;
		font-size: 2.8mm;
  }
  & .field {
    display: inline-block;
    height: 6mm;
    width: 37mm;
    left: 59mm;
    background: whitesmoke;
    color: blue;
    text-align: center;
    line-height: 5mm;
    font-size: 4mm;
    &::before {
      display: inline-block;
      position: absolute;
      height: 6mm;
      width: 49mm;
      padding-right: 1mm;
      left: -52mm;
      background: whitesmoke;
      text-align: right;
      color: $color-main;
      font-weight: 700;
      line-height: 6mm;
      white-space: nowrap;
      //outline: $test;
    }
  }
  & .iso {
    font-family: $font-regular;
    font-weight: 700;
    font-size: 9mm;
    line-height: 15mm;
    top: 93mm;
    color: whitesmoke;
    left: 35%;
    transform: translatex(-50%);
	}
  & .eu {
    top: 94mm;
    color: whitesmoke;
    left: 65%;
    transform: translatex(-50%);    
		& svg {
			height: 12mm;
		}
  }
  
  // MAIN elements:
  & #certificate {
    top: 22mm;
    left: 7mm;
    width: 89mm;
    &::before {
      display: none;
    }
  }
  & #model {
    top: 29mm;
    &::before {
      content: 'Model:';
    }
  }
  & #pin {
    top: 36mm;
    &::before {
      content: 'Serial Nr:';
    }
  }
  & #year {
    top: 43mm;
    &::before {
      content: 'Year of manufacture:';
    }
  }
  & #roadFull {
    top: 50mm;
    &::before {
      content: 'Gross weight (kg):';
    }
  }
  & #weight {
    top: 57mm;
    &::before {
      content: 'Weight (kg):';
    }
  }
  & #roadDrawbar {
    top: 64mm;
    &::before {
      content: 'Max. load on drawbar (kg):';
    }
  }
  & #roadAxle1 {
		top: 71mm;
    &::before {
      content: 'Total axles load (kg):';
    }
  }
  & #payload {
    top: 78mm;
    &::before {
      content: 'Netto weight (kg):';
    }
  }
  & #techFull {
    top: 85mm;
    &::before {
      content: 'Gross constr. weight (kg):';
    }
  }
}

// Polish
.witam {
  width: 100mm;
  height: 80mm;
  background: $color-main;
  outline-color: $color-light;
  color: whitesmoke;

  // excluding elements:
  & 
  // .field,
  .logoAgro,
  // .logoUmega,
  .logoGroup,
  // .address,
  .techparams,
  .techloads,
  .divider,
  .underlay,
  .certified ,
  .iso,
  .eac,
  .eu,
  .b1,
  .b2,
  .b3,
  .b4,
  .t0,
  .t1,
  .t2,
  .t3,
  .b0,
  // #model,
  // #year,
  #speed,
  // #weight,
  #payload,
  // #techFull,
  #drawbar,
  #axle1,
  #axle2,
  #axle3,
  #category,
  // #certificate,
  // #pin,
  #roadFull,
  #roadDrawbar,
  #roadAxle1,
  #roadAxle2,
  #roadAxle3
  // #drawbarLoad,
  // #axleLoad 
  {
    display: none;
  }

  // service & design elements, labels:  
  & .field {
    display: inline-block;
    width: 37mm;
    height: 5mm;
    left: 55mm;
    background: whitesmoke;
    color: blue;
    text-align: left;
    line-height: 5mm;
    font-size: 4mm;
    padding-left: 1mm;
    &::before {
      position: absolute;
      width: 51mm;
      height: 5mm;
      padding-left: 1mm;
      left: -55mm;
      text-align: left;
      color: whitesmoke;
      font-weight: 400;
      line-height: 5mm;
      text-align: right;
      font-size: 3.5mm !important;
    }
  }
  // & .logoAgro {}
  & .logoUmega {
    top: 7mm;
    left: 9mm;
  }
  // & .logoGroup {}
  & .address {
    top: 5mm;
    left: 55mm;
  }
  // & .techparams {}
  // & .techloads {}
  // & .divider {}
  // & .underlay {}
  // & .certified  {}
  // & .iso {}
  // & .eac {}
  // & .eu {}

  // MAIN elements:
  // & .b1 {}
  // & .b2 {}
  // & .b3 {}
  // & .b4 {}

  // & .t0 {}
  // & .t1 {}
  // & .t2 {}
  // & .t3 {}

  // & .b0 {}

  & #model {
    top: 22mm;
    &::before {
      content: 'Typ';
    }
  }
  & #year {
    top: 40mm;
    &::before {
      content: 'Rok produkcji';
    }
  }
  // & #speed {}
  & #weight {
    top: 46mm;
    &::before {
      content: 'Masa własna';
    }
  }
  // & #payload {}

  & #techFull {
    top: 52mm;
    &::before {
      content: 'Dopuszczalna masa całkowita';
    }
  }
  // & #drawbar {}
  // & #axle1 {}
  // & #axle2 {}
  // & #axle3 {}

  // & #category {}
  & #certificate {
    top: 28mm;
    &::before {
      content: 'Nr świadectwa homologacji';
    }
  }
  & #pin {
    top: 34mm;
    &::before {
      content: 'Nr identyfikacyjny';
    }
  }

  // & #roadFull {}
  // & #roadDrawbar {}
  // & #roadAxle1 {}
  // & #roadAxle2 {}
  // & #roadAxle3 {}

  & #drawbarLoad {
    top: 64mm;
    &::before {
      content: 'Maksymalny nacisk na sprzęg';
    }
  }
  & #axleLoad {
    top: 58mm;
    &::before {
      content: 'Maksymalny nacisk na oś';
    }
  }
}

// Rusische (uncertified)
.rus {
  // common parameters:
  width: 103mm;
  height: 110mm;
  background: $color-main;
  outline-color: $color-light;
  color: $color-bg;

  // excluding elements:
  & 
  // .field,
  .logoAgro,
  .logoUmega,
  // .logoGroup,
  // .address,
  .techparams,
  .techloads,
  .divider,
  .underlay,
  .certified ,
  // .iso,
  // .eac,
  // .eu,
  .b1,
  .b2,
  .b3,
  .b4,
  .t0,
  .t1,
  .t2,
  .t3,
  .b0,
  // #model,
  // #year,
  #speed,
  // #weight,
  // #payload,
  #techFull,
  #drawbar,
  #axle1,
  #axle2,
  #axle3,
  #category,
  // #certificate,
  // #pin,
  // #roadFull,
  // #roadDrawbar,
  // #roadAxle1,
  #roadAxle2,
  #roadAxle3,
  #drawbarLoad,
  #axleLoad {
    display: none;
  }

  // service & design elements, labels:  
  // & .logoAgro {}
  .logoGroup {
    // temp instead svg
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 6mm;
    font-weight: 700;
    width: 55mm;
    left: 6mm;
    top: 10mm;
  }

  & .address {
    top: 8mm;
		left: 67mm;
		font-size: 3mm;
  }
  & .field {
    display: inline-block;
    height: 6mm;
    width: 37mm;
    left: 59mm;
    background: whitesmoke;
    color: blue;
    text-align: center;
    line-height: 5mm;
    font-size: 4mm;
    &::before {
      display: inline-block;
      position: absolute;
      height: 6mm;
      width: 49mm;
      padding-right: 1mm;
      left: -52mm;
      background: whitesmoke;
      text-align: right;
      color: $color-main;
      font-weight: 700;
      line-height: 6mm;
      white-space: nowrap;
      //outline: $test;
    }
  }
  & .iso {
    font-family: $font-regular;
    font-weight: 700;
    font-size: 10mm;
    line-height: 15mm;
    top: 90mm;
    color: whitesmoke;
    left: 7mm;
	}
  & .eu {
    top: 90mm;
    color: whitesmoke;
    left: 75%;
    transform: translatex(-50%);    
		& svg {
      height: 14mm;
      width: 20mm
		}
  }
  & .eac {
    top: 90mm;
    color: whitesmoke;
    left: 53mm;
    & svg {
      height: 14mm;
      width: 20mm; 
		}
  }
  
  // MAIN elements:
  & #certificate {
    top: 22mm;
    left: 7mm;
    width: 89mm;
    &::before {
      display: none;
    }
  }
  & #model {
    top: 29mm;
    &::before {
      content: 'Тип:';
    }
  }
  & #pin {
    top: 36mm;
    &::before {
      content: 'Серийный номер:';
    }
  }
  & #year {
    top: 43mm;
    &::before {
      content: 'Год производства:';
    }
  }
  & #roadFull {
    top: 50mm;
    &::before {
      content: 'Полная масса (кг):';
    }
  }
  & #weight {
    top: 57mm;
    &::before {
      content: 'Масса (кг):';
    }
  }
  & #roadDrawbar {
    top: 64mm;
    &::before {
      content: 'Макс. нагр. на дышло (кг):';
      font-size: 3.8mm;
    }
  }
  & #roadAxle1 {
		top: 71mm;
    &::before {
      content: 'Общая нагрузка на оси (кг):';
      font-size: 3.6mm;
    }
  }
  & #payload {
    top: 78mm;
    &::before {
      content: 'Масса нетто (кг):';
    }
  }
  // & #techFull {}
}

#input {
  //outline: $test;
  width: 120mm;
  margin: 0 auto;
  @media print {
    display: none;
  }
  & input[type="text"] {
    color: $color-main;
    height: 6mm;
    font-size: 4mm;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-monospace;
    margin: 1mm;
    padding: .5mm;
    //border: 1px solid $color-light;
  }
  & #pdfBuild {
    display: block;
    margin: 2mm auto;
    font-size: 6mm;
    padding: 2mm 10mm;
    border-radius: 2mm;
    transition: background-color .2s;
    border-width: 1px;
    border-style: solid;
    &::after {
      content: '\f1c1';
      font-family: 'FontAwesome';
      font-size: 8mm;
      padding: 0 2mm;
    }
  }
  & .activated {
    background-color: rgb(31,57,72);
    color: $color-bg;
    box-shadow: 0 4px 4px rgba(31,57,72,.2);
    border-color: $color-dark;
    cursor: pointer;
    &:hover {
      background-color: lighten(rgb(31,57,72),20%);
      color: $color-bg;
      box-shadow: 0 4px 6px rgba(18,126,155,.4);
      border-color: $color-dark;
    }
    &:active {
      background-color: darken(rgb(31,57,72), 10%);
      color: $color-bg;
      box-shadow: 0 2px 6px rgba(18,126,155,.4);
      border-color: $color-dark;
    }
  }
  & .deactivated {
    background-color: rgba(233,234,236,.5);
    color: $color-light;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-color: $color-light;
    cursor: not-allowed;
  }
}

.noPin {
  box-shadow: none;
  border: 1px solid $color-light;
}
.pendingPin {
  box-shadow: 0 1px 4px rgba(255,200,0,0.6);
  border: 1px solid rgb(150,180,0);
}
.validPin {
  box-shadow: 0 1px 4px rgba(0,200,0,0.6);
  border: 1px solid rgb(0,150,0);
}
.invalidPin {
  box-shadow: 0 1px 4px rgba(255,0,0,0.6);
  border: 1px solid rgb(150,0,0);
}