/********** VARIABLES AND MIXINS ***********/
// sizes
$basic: 4mm;

// colors
$color-main: #005f4e;
$color-light: #a9a9a9;
$color-dark: #1a1a1a;
$color-contrast: #f3B900;
$color-bg: #fafafa;
$color-bgdark: #4b4b4b;
$gradient-main: linear-gradient(to bottom, $color-light, lighten($color-main, 10%) 48%, lighten($color-main, 5%) 52%, $color-dark);
$gradient-bg: linear-gradient(to bottom, $color-bg 0%, lighten($color-light, 10%) 100%);
$bgimg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=);///////////////////////////////////

// typography
$font-heading: 'Cormorant Infant', serif;
$font-regular: 'Roboto', sans-serif;
$font-monospace: 'Ubuntu Mono', monospace;
$font-size: $basic;
$line-h: $font-size * 1.5;

//other
$test: 1px dotted $color-contrast;

/* MIXINS */